@import 'globals';

#contacts {
    position: fixed;
    top: 100vh;
    left:0;
    right: 0;
    height: 100vh;
    z-index: 300;
    background-color: #000000d7;
    backdrop-filter: grayscale(1) blur(5px);
    overflow: hidden;
    opacity: 0;
    transition: ease-out 400ms;
    transform-origin: top;
    transform: scaleY(.5);

    &.active {
        top: 0;
        overflow: auto;
        opacity: 1;
        transform: scaleY(1);
    }

    #close-contacts {
        position: absolute;
        right: 0.83em;
        top: 0.83em;
        font-size: 1.5em;
        padding: 0.5em;
        background: none;
        border: none;
        color: map-get($text-color, 'lighter');
        opacity: .5;
        cursor: pointer;
        transition: ease 200ms;
        outline: none;

        &:hover,
        &:focus {
            opacity: 1;
            color:#c13636;
        }
    }

    article {
        max-width: 700px;
        min-height: 100vh;
        padding: {
            top:1px;
        };
        margin: 0 auto;
        color: map-get($text-color, 'lighter');
        display: flex;
        flex-flow: column;

        & > p {
            &:first-child {
                margin-top: 5vh;
            }

            &:last-child {
                margin-bottom: 5vh;
            }
        }

        &>h2{
            display: flex;
            align-items: center;
            color: #dcdcdc;
            &>* {
                color: #dcdcdc;
            }
        }

        & > * {
            flex:0;
            min-width: 300px;
            transform: skewX($deg);
        }

        .contact-socials {
            margin: 0 {
                top: auto;
                bottom: 0;
            };
            display: flex;
            align-items: center;
            justify-content: space-around;

            @include socials;
        }

        #contact-form {

            fieldset {
                legend {
                    display: none;
                }
            }

        }

        .form-states {

            position:relative;
            flex:1;
            display: flex;
            align-items: center;
            overflow: hidden;

            .form-state {
                position: absolute;
                top:0;
                left:0;
                width: 100%;
                height: 100%;
                transform: translateY(4rem);
                opacity: 0;
                z-index: -1;
                transition: all 400ms ease-out;
                transition-property: transform, opacity;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: column;

                .icon {
                    font-size: 4rem;
                }

                &:not(.ready) p {
                    text-align: center;

                    &:first-of-type {
                        font-size: 1.5em;
                        margin-bottom: 0;
                    }

                    &:not(:first-of-type) {
                        opacity: .8;
                        margin-top: 0;
                    }
                }

                &.ready {
                    display: block;

                    p {
                        margin-top: 0;
                        margin-bottom: 2em;
                    }

                    #contact-form {

                        position: relative;
                        flex: 3;
                        width: 100%;

                        fieldset {
                            border: none;
                            padding: 0;

                            legend {
                                font-size: map-get($paragraf-font-size, 'desktop');

                                margin: {
                                    bottom: 1rem;
                                }
                            }

                            &>div {
                                padding: .5rem;
                                margin-bottom: 1rem;
                            }

                            .form-group {
                                position: relative;
                                clear: both;

                                &.left {
                                    float: left;
                                    width: 50%;
                                    clear: none;
                                }
                            }

                        }

                        input[type="submit"] {
                            max-width: 10rem;
                            margin: 0 auto;
                            display: block;
                        }

                    }
                }

                &.sending {

                }

                &.success {

                }

                &.failed {

                }
            }

            @mixin contact_state_active() {
                transform: translateY(0);
                opacity: 1;
                z-index: 10;
                transition-delay: 400ms;
                position: relative;
            }

            &[data-current-state="ready"] {
                .ready {
                    @include contact_state_active;
                }
            }

            &[data-current-state="sending"] {
                .sending {
                    @include contact_state_active;

                    .icon {
                        animation: bounce .5s;
                        animation-direction: alternate;
                        animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
                        animation-iteration-count: infinite;
                    }
                }
            }

            &[data-current-state="success"] {
                .success {
                    @include contact_state_active;
                }
            }
            
            &[data-current-state="error"] {
                .error {
                    @include contact_state_active;
                }
            }
        }


    }

}





///////////////////////////////////////////////////
//
// MEDIA QUERY
//
///////////////////////////////////////////////////



@media only screen and (max-width: #{$laptop-screen-width - 1}) {
    #contacts {

        article {

                .contact-socials {

                    a {

                        &::after {
                            content: attr(data-social-name);
                        }

                    }

                }

        }

    }
}



@media only screen and (max-width: #{$tablet-screen-width - 1}) {

    #contacts {

        #close-contacts {
            padding: 5vmin;
            z-index: 100;
            right: .85em;
        }

        article {

                & * {
                    transition:ease 200ms;
                }

                & > *:not(.divider) {
                    border-radius: 5px;
                    padding: 5vmin;
                    transform: skewX(0);
                }

                & > p {
                    margin: {
                        left: .5rem;
                        right: .5rem;
                    }
                }

                .contact-socials {
                    flex-flow: row;
                    flex-wrap: nowrap;
                    display: flex;
                    justify-content: space-around;
                    padding: {
                        left: 0;
                        right: 0;
                    }
                    margin: {
                        top: 1em;
                    }
                    border-top: 1px dashed #595959;
                    border-radius: 0;
                    width: 100%;
                    
                    li {
                        margin: 0px !important;

                        a {
                            font-size: 2rem;
                            transform: rotatez(15deg);

                            &::after {
                                display: none;
                            }
                        }
                    }
                }

                #contact-form {

                    fieldset {

                        &>div {
                            max-width: 100%;
                        }

                        .form-group {

                            &.left {
                                float: none !important;
                                width: auto !important;
                                clear: both !important;
                            }
                        }

                    }

                    button {
                        width: 100%;
                    }

                }

        }

    }

}