
.slick-slide {
    padding: 0 .5rem;
}


.slick-dots {
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    top: 2rem;
    position: relative;

    li {
        width: 30px;
        height: 10px;

        button {
            width: 30px;
            height: 10px;
            background-color: #f1f1f121;

            &::before {
                content: '';
            }
        }

        &.slick-active {
            button {
                background-color: #f1f1f144;
            }
        }
    }
}