@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
@import 'globals';


/////////////////
* {
    animation-fill-mode: initial;
    box-sizing: border-box;
}

html{ 
    min-height: 100vh; 
    margin: 0; 
    padding: 0;
    scroll-behavior: smooth;
}

body {
    @extend html;
    font: {
        family: $main-font;
        size: map-get($paragraf-font-size, 'desktop');
    }
    color: $paragraf-color;
    //background-image: url(/assets/img/tile.jpg);
    //background-image:linear-gradient(#00000000, #00000000),
    //url(/assets/img/pexels-negative-space-169573.jpg);
    background-color: nth($color-palette, 1);
    background: linear-gradient(nth($color-palette, 1) 0%, rgb(60, 102, 102) 100%);
    background-attachment: fixed;
    background-attachment: fixed;
    background-position: 0 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.no-scroll {
    overflow: hidden;
}

p {
    font: {
        size: map-get($paragraf-font-size, 'desktop');
    }
    //color: $paragraf-color;
    max-width: 700px;
    //width: 40vw;
    line-height: 1.8em;
    padding: 0 .5rem;
}

a {
    text-decoration: none;
    color: map-get($text-color, 'normal');
}

ul {
    list-style: none;
    padding:0;
}

h1 {
    font: {
        family: $h1-font-family;
    }
    color: nth($h1-color, 1);
}

h2 {
    @extend h1;
    color: cadetblue;
}

h3 {
    font: {
        family: $h1-font-family;
        size: 1.2em;
    }
    color: cadetblue;
    margin: {
        top: 5rem;
        bottom: 4rem;
    }
    max-width: 60ch;
}


.fade-in {
    transition: ease-out 200ms;

    &:not(.on-screen) {
        transform: translateY(2rem) scaleY(1.5);
        transform-origin: top;
        opacity: 0;
    }
}


// INPUT

input {
    font: {
        family: $main-font;
        size: map-get($paragraf-font-size, 'desktop');
    }
    box-sizing: border-box;
    //border-radius: 5px;
    border: {
        color: #aaa;
        width: 1px;
        style: solid;
    }
    width: 100%;
    background-color: transparent;
    padding: .75rem;
    color: inherit;
    border-radius: $border-radius;

    &[type=text] {

    }

    &[type=email] {
    }

    // checkbox
    &[type=checkbox] {
        $size: 1.5em;

        width: auto;
        margin-right:$size;
        position: relative;

        &:before {
            content: "";
            display: block;
            position: absolute;
            width: $size;
            height: $size;
            transform: translateY(-50%);
            top: 50%;
            left: 0;
            background-color: nth($color-palette, 3);
            border-radius: 3px;
        }

        &:checked:before {
            content: "";
            display: block;
            position: absolute;
            width: $size;
            height: $size;
            transform: translateY(-50%);
            top: 50%;
            left: 0;
            background-color: nth($color-palette, 1);
            border-radius: 3px;
        }

        &:checked:after {
            content: "";
            display: block;
            width: 50%;
            height: 100%;
            border: solid nth($color-palette, 3);
            border-width: 0 3px 3px 0;
            transform: rotate(45deg) translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%;
        }

        // checkbox label
        &+label {
            position:initial;
            opacity: 1;
        }
    }

}

textarea {
    @extend input;
    width: 100%;
    resize: vertical;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: map-get($text-color, 'normal');
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: map-get($text-color, 'normal');
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: map-get($text-color, 'normal');
}

:-moz-placeholder {
    /* Firefox 18- */
    color: map-get($text-color, 'normal');
}

*:disabled {
    opacity: .5;
    cursor: not-allowed !important;
}

.form-group {
    position: relative;
    //margin-top: 5vh;
    box-sizing: border-box;

    label {
        position: absolute;
        top: 2rem;
        transform: translateY(-50%);
        left: 1.25rem;
        transition: 200ms ease;
        opacity: .7;
        z-index: 2;

        &.active {
            top: 0;
            transform: translateY(-100%);
            font-size: .75em;
            opacity: 1;
        }
    }
}

.btn {
    border:solid 1px #aaa;
    padding: 1rem;
    font-size: 1.5em;
    animation: button-out 300ms;
    background: linear-gradient(0deg, nth($color-palette, 2) 50%, transparent 50%);
    background-size: 200% 200%;
    font-size: map-get($paragraf-font-size, 'desktop');
    cursor: pointer;
    border-radius: $border-radius;

    &:not(:disabled):hover,
    &:not(:disabled):focus {
        animation: button-over 300ms forwards;
        color:#dcdcdc;
    }
}

@keyframes button-over {
    from {
        background-position: top;
    }

    to {
        background-position: bottom;
    }
}

@keyframes button-out {
    from {
        background-position: bottom;
    }

    to {
        background-position: top;
    }
}

// social color

.fa-twitter { 
    color: map-get($social-colors, 'twitter' )
}

.fa-linkedin:before {
    color: map-get($social-colors, 'linkedin')
}
.fa-github:before {
    color: map-get($social-colors, 'github')
}
.fa-dribbble:before {
    color: map-get($social-colors, 'dribbble')
}


// recaptcha

.grecaptcha-badge { 
    visibility: hidden;
}


// svg wave

.wave {
    overflow: visible;
    position: relative;
    
    &.top {
        bottom: -.31rem;
    }

    &.bottom {
        top: -.3rem;
    }

    .svg-wave {
        width: 100%;
        height: 2rem;
        position: relative;
        

        &.top {
            bottom: -5px;
        }

        &.bottom {
        }

        path {
            fill-opacity: 1;
        }
    }

}


// container

section.container {
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    bottom: 0;
    background: transparent;

    
    & > article {
        position: relative;
        padding: 0 1rem {
            top: 1px;
        }
        transform: skewX(-$deg);

        & > * {
            transition: ease 1s;
            opacity: 1;
        }


        h2 {
            position: relative;
            font-size: 4.5vw;
            line-height: 1.6em;
            font-weight: normal;
            font-family: $h2-font-family;
            color: nth($title-color, 1);
            display: block;
            align-items: center;
            text-align: center;
            margin: {
                bottom: 10vh;
                top: 6rem;
            }
            transform: rotateZ(-$deg);
        }

    }

    &.active {
        & > article {
            & > * {
                transform: translateY(0) rotateZ(0) skewX(0);
                opacity: 1;
            }
        }
    }
    
}




// SCROLLBAR
::-webkit-scrollbar {
    width: 6px;

    &:hover {
        width: 10px;
    }
}

::-webkit-scrollbar-track {
    background: nth($color-palette,3);
}

::-webkit-scrollbar-thumb {
    background-color: nth($color-palette, 1);
    //border-radius: 5px;
}


///////////////////////////////////////////////////
//
// MEDIA QUERY
//
///////////////////////////////////////////////////





@media only screen and (max-width: #{$tablet-screen-width - 1}) {

    p {
        max-width: auto !important;
        width: auto !important;
        font-size: map-get($paragraf-font-size, 'mobile');
    }


    input, textarea {
        padding:1rem;
        font-size: map-get($paragraf-font-size, 'mobile');
    }

    .form-group {
        label {
            left: 1.5rem;
            top: 2.3rem;
            font-size: map-get($paragraf-font-size, 'mobile');
        }
    }

    button {
        padding: 1rem;
        font-size: map-get($paragraf-font-size, 'mobile');

        &:hover {
            background: transparent;
        }
    }

    section.container {

       // &:nth-child(odd) {

            & > article {
                border-bottom-left-radius: 0px;
                overflow-y: visible;

                & > *:not(p):not(h3) {
                    //margin-left: -20vw;
                    //transform: translateY($translateY) skewX(0);
                }

                & > p {
                    //padding-right: 3vw;
                }

                .background-pic {
                    margin: {
                        //left: -10vw;
                    }

                    //box-shadow: 5vw 3px 5px -2px #0000005b;
                }

                h2 {
                    font-size: 10vw;
                    margin: {
                        bottom: 10vh;
                        top: 12vw;
                    }
                }

                .main {
                    font-size: 1.2rem;
                }
            }
      //  }

        &.active {
            & > article {
                & > * {
                    transform: translateY(0) skewX($deg);
                }
            }
        }

    }

}

@import 'loading.frame';

@import 'slick';

@import 'nav';

@import '_home';

@import 'skills';

@import 'about';

@import 'contacts';

@import 'footer';